<% if current_doctor %>
<body>
  <div class="card">

  <h3 id="greeting"><%= "Hello, Dr. #{current_doctor.name.upcase}!"%></h3>
  </div>

  <div class="row">

    <div class="col s12 m4 l3" id="left">
      <div class="date">
          <div class="card">
            <%= DateTime.now.strftime("%m/%d/%Y %H:%M") %>
          </div>
      </div>

      <div class="edit">
        <div class="card">
          <div class="link"><%= link_to "View Waitlist",  appointments_path() %></div>
        </div>
      </div>

      <div class="edit">
        <div class="card">
          <div class="link">  <%= link_to "Edit Profile", edit_doctor_path(current_doctor) %>
          </div>
        </div>
      </div>
      <div class="logout">
        <div class="card">
          <div class="link"><%= link_to "Logout", root_path, method: :delete %></div>
        </div>
      </div>
      </div>

<body>
<!-- <div class="container"> -->


<div class="col s12 m8 l9">
 <p>
   <i class="large material-icons">video_call</i>
 </p>
 <div class="video-container">
<iframe src="https://tokbox.com/embed/embed/ot-embed.js?embedId=51e6171d-9d47-4c82-ae87-35a53a8c3a68&room=DEFAULT_ROOM&iframe=true" width="600px" height="500px" allow="microphone; camera" ></iframe></div>
</div>
</div>
<!-- </div> -->

</body>
<div class="blue-grey-text">
</div>
<% end %>
<br>
