<h2 id="signin">Patient Sign In</h2>

<%= form_tag sessions_path do %>

<p>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
</p>

<p>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
</p>

<button class="btn waves-effect waves-light" type="submit" name="action"> <%= submit_tag "Sign In" %>
  <i class="material-icons right">send</i>
</button>

<% end %>
